.quiz-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.quiz-page-form {
  display: flex;
  align-items: center;
  justify-content: center;
  select,
  button {
    padding: 8px 16px;
  }

  button {
    border-radius: 4px;
    background-color: white;
    color: black;
  }
}

.quiz-page-submit-btn {
  background-color: blue;
  color: white;
}

.quiz-page-submit-btn:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
  pointer-events: none;
}
